.topnav {
  background-color: #747474;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav h1 {
  float: left;
  color: #272727;
  font-family: 'Anton', sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav h1:hover {
  color: white;
}

.container1 {
   background-color: #272727;
   padding: 100px;
}

.container1 img{
  width: 40%;
  float: left;
  padding-top: 0px;
  padding-bottom: 20px;
  transition: all 1s;
}

.container1 img:hover{
  transform: scale(1.1);
 }

.container1 h1 {
  text-align: right;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 6rem;
  line-height: 1;
  color: #FF652F;
}

.container1 h2 {
  text-align: right;
  font-family: 'Francois One', sans-serif !important;
  color: #FFE400;
  padding-right: 100px;
}

.container2 {
   background-color: #747474;
   padding: 100px;
}

.container2 p {
  text-align: left;
  padding-top: 160px;
  line-height: normal;
  font-family: 'Bebas Neue', cursive;
  font-stretch: expanded;
  font-size: 30px;
  padding-left: 0px;
}

.container2 img {
  width: 35%;
  float: right;
  border-radius: 50%;
  padding-top: 100px;
  transition: all 1s;

}

.container2 img:hover{
  transform: scale(1.07);
 }

.container3 {
  background: #272727;
  padding: 100px;
}




/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 0 10px;
}



/* Style the counter cards */
.card {
  padding: 20px;
  text-align: center;
  background-color: #14A76C !important;
}

.row p {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
color: #FFE400;
font-family: 'Bebas Neue', cursive;
}

.row h3 {
font-family: 'Anton', sans-serif;
color: #272727;
}

.container4 {
  background-color: #747474;
  padding: 100px;
}

.btn {
  font-size: 18px;
  padding: 14px 40px;
  border-radius: 8px;
  background-color: #272727;
  transition-duration: 0.4s;
  font-family: 'Anton', sans-serif;
}

.mycon1 {
   text-align: center;
}

.btn a {
    color: #FF652F;
}

.btn:hover {
  background-color: #747474 !important; /* Green */
}


.mycon {

  text-align-last: center;
  line-height: normal;
  font-family: 'Bebas Neue', cursive;
  font-stretch: expanded; 
  font-size: 30px;
  padding-left: 0px;


}



